/* Code by Lucy Lau */

body {
	font-family: 'Outfit', sans-serif;
	color: rgb(64, 24, 74);
}

/* header */

.flex-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-right: 5%;
}

header {
	background-color: white;
}

/* logo */

#logo-link {
	width: 50%;
}

#logo {
	width: 100%;
	max-width: 250px;
}

/* menu - credit to https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */

.main-menu {
	background-color: rgb(165, 45, 165);
	overflow: hidden;
	position: relative;
}

.main-menu #menu {
	display: none;
}

.simple-toggle li {
	font-weight: bold;
	padding: 0.5rem;
	text-align: center;
	border: 0.5px solid black;
	border-collapse: collapse;
}

#menu-toggle {
	font-weight: bold;
	text-align: center;
}

#menu-toggle:hover {
	background-color: white;
	color: blue;
	cursor: pointer;
}

nav a {
	text-decoration: none;
	color: rgb(255, 235, 254);
}

/* main */

main {
    margin: 0 auto;
    padding: 0;
}

main h1 {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 2em;
    transition: font-size 0.5s ease;
}

main h1:hover {
    font-size: 2.15em;
}

main #article1, #article2, #article3 {
    padding: 5px 5%;
    margin-bottom: 5px;
}


main p {
    font-size: 1.3em;
}

.pic {
	padding: 0;
	margin: 0;
	width: 100%;
}

/* footer */

footer #foot-nav{
	background-color: purple;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 3%;
	font-weight: bold;
	font-size: 1.3rem;
	text-align: right;
}

footer #foot-nav li {
	padding-bottom: 6px;
}

footer #foot-nav a {
	text-decoration: none;
	color: rgb(255, 235, 254);
}

footer #foot-nav a:hover {
	text-decoration-line: underline;
}


/* media */

@media screen and (min-width: 600px) {

	/* menu */

	#menu-toggle {
		display: none;
	}

	.main-menu #menu {
		display: flex !important;
	}

	.simple-toggle li {
		border: none;
	}

	#menu {
		padding-top: 7px;
		padding-bottom: 7px;
		padding-right: 4%;
		padding-left: 2%;
		font-size: 1.5rem;
		font-weight: bold;
	}

	#menu li {
		padding-right: 50px;
	}

	/* logo */

	#logo-link {
		width: 250px;
	}

	.flex-row {
		padding-left: 2%;
	}

	/* wrapper */

    #wrapper {
		width: 75%;
		margin: 0 auto;
	}

	/* main */

	main {
		display: flex;
	}

	.pic {
		width: 300px;
		margin: 10px;
		align-self: center;
	}

}
